	.a1{animation-name:move1;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:8.3s;
		animation-fill-mode:forwards;
		background: url(15.jpg);
		background-size: 100%; 
	}
	@keyframes move1{
		form{transform:translateZ(0px);}
		  50%{transform:translateZ(1px);}
		to{transform:translateZ(0px);}
   }
	.a2{
		animation-name:move2;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:6.6s;
		animation-fill-mode:forwards; 
		background: url(001.jpg);
	}
	@keyframes move2{
		form{transform:rotateY(0deg) translateZ(0px);}
		  50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}

	.a3{
		animation-name:move3;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:6.7s;
		animation-fill-mode:forwards; 
		background: url(01.jpg);
	}
	@keyframes move3{
		form{transform:rotateY(0deg) translateZ(0px);}
		  50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a4{
		animation-name:move4;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:6.8s;
		animation-fill-mode:forwards; 
		background: url(02.jpg);
	}
	@keyframes move4{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a5{
		animation-name:move5;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:6.9s;
		animation-fill-mode:forwards; 
		background: url(1.jpg);
	}
	@keyframes move5{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a6{
		animation-name:move6;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7s;
		animation-fill-mode:forwards; 
		background: url(2.jpg);
	}
	@keyframes move6{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a7{
		animation-name:move7;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.1s;
		animation-fill-mode:forwards; 
		background: url(3.jpg);
	}
	@keyframes move7{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a8{
		animation-name:move8;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.2s;
		animation-fill-mode:forwards; 
		background: url(4.jpg);
	}
	@keyframes move8{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a9{
		animation-name:move9;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.3s;
		animation-fill-mode:forwards; 
		background: url(5.jpg);
	}
	@keyframes move9{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a10{
		animation-name:move10;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.4s;
		animation-fill-mode:forwards; 
		background: url(6.jpg);
	}
	@keyframes move10{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a11{
		animation-name:move11;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.5s;
		animation-fill-mode:forwards; 
		background: url(7.jpg);
	}
	@keyframes move11{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a12{
		animation-name:move12;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.6s;
		animation-fill-mode:forwards; 
		background: url(8.jpg);
	}
	@keyframes move12{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a13{
		animation-name:move13;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.7s;
		animation-fill-mode:forwards; 
		background: url(9.jpg);
	}
	@keyframes move13{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a14{
		animation-name:move14;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.8s;
		animation-fill-mode:forwards; 
		background: url(10.jpg);
	}
	@keyframes move14{
		form{transform:rotateY(0deg) translateZ(0px);}
		
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a15{
		animation-name:move15;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:7.9s;
		animation-fill-mode:forwards;
		background: url(11.jpg); 
	}
	@keyframes move15{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a16{
		animation-name:move16;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:8s;
		animation-fill-mode:forwards; 
		background: url(12.jpg);
	}
	@keyframes move16{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a17{
		animation-name:move17;
		animation-duration:1.5s;
		animation-timing-function:linear;
		animation-delay:8.1s;
		animation-fill-mode:forwards; 
		background: url(13.jpg);
	}
	@keyframes move17{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}
	.a18{
		animation-name:move18;
		animation-duration:8.2s;
		animation-timing-function:linear;
		animation-delay:3.5s;
		animation-fill-mode:forwards; 
		background: url(14.jpg);
	}
	@keyframes move18{
		form{transform:rotateY(0deg) translateZ(0px);}
		 50%{transform:translateZ(1px);}
		to{transform:rotateY(0deg) translateZ(0px);}
	}